<!-- Modal de Error / Mensajes -->
<div class="modal fade" id="modal-error" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<div class="modal-body" id="modalBody"></div>

			<div class="modal-footer">
				<button type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
						id="modalButton">
					Cerrar
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Confirmación -->
<div class="modal fade" id="modal-confirm" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">
					<i class="bi bi-exclamation-triangle text-warning me-2"></i>
					Confirmar acción
				</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal">
				</button>
			</div>

			<div class="modal-body" id="modalBody">
				<!-- Mensaje dinámico -->
			</div>

			<div class="modal-footer">
				<button type="button"
						class="btn btn-secondary btn-sm"
						id="btn-modal-cancelar"
						data-bs-dismiss="modal">
					Cancelar
				</button>

				<button type="button"
						class="btn btn-danger btn-sm"
						id="btn-modal-confirmar">
					Confirmar
				</button>
			</div>

		</div>
	</div>
</div>
