@using Domain.DTOs.Security;
@using WebClient.Components
@using WebClient.Components.Shared.Elements

@inherits Components.MainBaseComponent;

<IUCard>
	<Header>
		<h4 class="">Datos del usuario</h4>
	</Header>

	<Body>
		<EditForm EditContext="_editContext">
			<DataAnnotationsValidator />

			<div class="row">
				<div class="col-12 col-md-4">
					<IUInputText Label="Nombre"
								 Placeholder="Escriba el nombre..."
								 @bind-Value="Usuario.Nombre"
								 Required=true />
					<ValidationMessage For=@(() => Usuario.Nombre) />
				</div>
				<div class="col-12 col-md-4">
					<IUInputText Label="Apellido"
								 Placeholder="Escriba el apellido..."
								 @bind-Value="Usuario.Apellido"
								 Required=true />
					<ValidationMessage For="() => Usuario.Apellido" />
				</div>
				<div class="col-12 col-md-4">
					<IUInputText Label="Username"
								 Placeholder="Escriba el username..."
								 @bind-Value="Usuario.Username"
								 Required=true />
					<ValidationMessage For="() => Usuario.Username" />
				</div>

				<div class="col-12 col-md-4">
					<IUInputText Label="Correo"
								 Placeholder="Escriba el correo..."
								 @bind-Value="Usuario.Email"
								 Required=true />
					<ValidationMessage For="() => Usuario.Email" />
				</div>

				<div class="col-12 col-md-4">
					<IUSelect TItem="PerfilDTO"
							  TValue="long"
							  Label="Selecciona un perfil"
							  Placeholder="Escoge un perfil"
							  Options="@ListaPerfiles"
							  GetText="@(c => c.Nombre)"
							  GetValue="@(c => c.Id)"
							  @bind-Value="Usuario.PerfilId"
							  Required="true" />
					<ValidationMessage For="() => Usuario.PerfilId" />
				</div>

				@if (Usuario.Id != 0)
				{
					<div class="col-12 col-md-4">
						<label class="d-none d-md-block invisible mb-2">Check</label>
						<IUInputCheckbox Label="Modificar Contraseña"
										 @bind-Value="ModificarContraseña" />
					</div>
				}

				@if (ModificarContraseña || Usuario.Id == 0)
				{
					<div class="col-12 col-md-4">
						<IUInputPassword Label="Contraseña"
										 Placeholder="Escriba la contraseña..."
										 @bind-Value="Usuario.Password"
										 Required=true />
						<ValidationMessage For="() => Usuario.Password" />
					</div>
				}
			</div>
		</EditForm>
	</Body>
</IUCard>
