@using WebClient.Common
@using WebClient.Components
@using WebClient.Components.Security.Perfil
@using WebClient.Models.Security
@model PerfilViewModel

@{
	ViewData["Title"] = "Perfil";
	ViewData["Module"] = "Perfil";
	ViewData["Action"] = "Crear";
	ViewData["Url"] = Url.Action("Listado", "Perfil");

	var componentName = nameof(PerfilCreateComponent);
	var componentParameters = new Dictionary<string, object>
	{
		{ nameof(PerfilCreateComponent.Perfil), Model.Perfil  },
		{ nameof(PerfilCreateComponent.ListaModulos), Model.ListaModulos  },
	};
}
<script>
	class @componentName {
		componentInstance;
		guardarButton;

		constructor(componentInstance) {
			this.componentInstance = componentInstance;
			this.guardarButton = document.getElementById('btn-save');
			this.guardarButton.addEventListener('click', ev => this.Validar());
		}

		async Validar() {
			await this.componentInstance.invokeMethodAsync('Validar');
		}

		static init(componentInstance) {
			window.@componentName = new @(componentName)(componentInstance);
		}
	}

	window.@componentName = @componentName;
</script>


@section ActionBar {
	<div class="card card-outline card-primary action-bar">
		<div class="card-body py-2">
			<div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
				<!-- ZONA IZQUIERDA -->
				<div class="action-bar-left d-flex gap-2">
					<button type="button"
							class="btn btn-outline-secondary btn-sm px-3 py-1"
							onclick="history.back()">
						<i class="bi bi-reply-fill"></i>
						Volver
					</button>
					<button id="btn-save" type="button" class="btn btn-primary btn-sm px-3 py-1">
						<i class="bi bi-floppy-fill mr-1"></i>
						Guardar
					</button>
				</div>
				<!-- ZONA DERECHA -->
				<div class="action-bar-right d-flex gap-2">
				</div>
			</div>
		</div>
	</div>
}

<component type="typeof(MainComponent)"
		   param-ComponentTypeName="typeof(PerfilCreateComponent).FullName"
		   param-Parameters="@componentParameters"
		   render-mode="ServerPrerendered" />

