@using WebClient.Common
@using WebClient.Models
@using WebClient.Models.Security
@model PerfilViewModel

@{
	ViewData["Title"] = "Perfil";
	ViewData["Module"] = "Perfil";
	ViewData["Action"] = "Listado";
	ViewData["Url"] = Url.Action("Listado", "Perfil");

	Model.ListaItemsMenu = new List<ItemMenu>
	{
		new ItemMenu { Id = MenuItemId.Editar, Text = "Editar", IconCss = "fa fa-pencil", Url = Url.Action("Crear", "Perfil"), ActionType = MenuItemActionType.POST },
		new ItemMenu { Id = MenuItemId.Eliminar, Text = "Eliminar", IconCss = "fa fa-trash", Url = Url.Action("Eliminar", "Perfil"), ActionType = MenuItemActionType.POST, Confirm = true, ConfirmMessage = "Esta seguro de eliminar este perfil?" },
	};
}

@section ActionBar {
	<div class="card card-outline card-primary action-bar">
		<div class="card-body py-2">
			<div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
				<!-- ZONA IZQUIERDA -->
				<form id="FormCrear" asp-controller="Perfil" asp-action="Crear" method="post" style="display: none;">
					@Html.AntiForgeryToken()
				</form>
				<div class="action-bar-left d-flex gap-2">
					<button type="submit"
							form="FormCrear"
							class="btn btn-primary btn-sm">
						<i class="bi bi-plus-lg"></i>
						Crear
					</button>
				</div>
				<!-- ZONA DERECHA -->
				<div class="action-bar-right d-flex gap-2">
				</div>
			</div>
		</div>
	</div>
}
<div class="card card-outline card-secondary">
	<div class="card-body p-3">
		<div id="table-wrapper"></div>
	</div>
</div>

@section Scripts {
	<script>
		new gridjs.Grid({
			columns: ['Id', 'Nombre', "Descripcion",
				{
					name: 'Acciones',
					formatter: (cell, row) => gridjs.html(this.menuTableHandler(row._cells[0].data))
				}
			],
			server: {
			  url: urlWeb + "Perfil/GetAll",
			  then: data => data.data.map(data => [
				data.id, data.nombre, data.descripcion
			  ]),
			  total: data => data.total
			},
			...this.optionsTable
		}).render(document.getElementById("table-wrapper"));
	</script>
}
